name: Update

on:
  schedule:
    - cron: '0 * * * *'
  push:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Get `aosc-findupdate`
        run: git clone https://github.com/AOSC-Dev/aosc-findupdate

      - name: Get `aosc-os-abbs`
        run: git clone https://github.com/AOSC-Dev/aosc-os-abbs
      
      - name: Cargo Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            aosc-findupdate/target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build `aosc-findupdate`
        run: |
          cd aosc-findupdate
          cargo build --release
      
      - name: Generate `pkgsupdate.json`
        run: ./aosc-findupdate/target/release/aosc-findupdate --dry-run -d ./aosc-os-abbs -j "$PWD"/pkgsupdate.json

      - name: Render markdown
        run: cat pkgsupdate.json | python ./scripts/render-markdown.py > README.md

      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v5
